@font-face {
    font-family: 'Custome Font';
    src: url("./assets/curtome.woff");
}

* {
    font-family: 'Custome Font';
}

hr {
    border: 1px solid rgba(140, 140, 140, 0.5);
}

.flex {
    display: flex;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.grid {
    display: grid;
}

.padding-20-20 {
    padding: 20px;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.hover:hover {
    color: rgb(46, 46, 46);
}

.active {
    opacity: 1;
    color: rgb(30, 30, 30);
}

.inactive {
    opacity: 0.4;
}

.inactive:hover {
    opacity: 1;
}

.color-white {
    color: rgb(0, 0, 0);
}

.button-black {
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.button-black-hollow {
    padding: 20px 40px;
    background-color: rgb(28, 28, 28);
    outline: 1px solid white;
    border-radius: 5px;
}

.padding-0-20 {
    padding: 0px 20px;
}

.h-center {
    justify-content: center;
    justify-items: center;
}

.v-center {
    align-items: center;
    align-content: center;
}

.center {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.hover-invert:hover {
    filter: invert(1);
}

hr {
    opacity: 0.4;
    width: calc(100%);
}

.nav {
    flex-direction: column;
    gap: 80px;
    flex-wrap: wrap;
    background-blend-mode: color-burn;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 100;
    .top {
        display: flex;
        gap: 20px;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        .top-link {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
    .bottom {
        display: flex;
        gap: 40px;
        background-color: rgb(240, 240, 240);
        align-items: center;
        justify-content: center;
        padding: 10px;
        .nav-left {
            height: 40px;
            filter: invert(1) brightness(0);
            img {
                height: 40px;
                width: 40px;
                object-fit: contain;
            }
        }
        .nav-links-ar {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            height: fit-content;
            align-items: center;
            .nav-link {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: space-between;
                .button-in {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            .search-ar {
                position: relative;
                display: flex;
                align-items: center;
                input {
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    padding: 5px;
                    outline: 0px;
                    border: 0px;
                    background-color: white;
                }
                .icon {
                    position: absolute;
                    right: 15px;
                }
            }
        }
        .nav-controls {
            display: flex;
            gap: 20px;
            .nav-icon {
                font-size: 30px;
                display: flex;
                align-items: center;
                color: black;
            }
            .nav-icon:hover {
                color: rgb(62, 62, 62);
            }
        }
    }
}

.heading {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.sub-heading {
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
}

.content {
    font-size: 30px;
    opacity: 0.8;
}

.app {
    display: grid;
    background-color: rgb(255, 255, 255);
}

#root {
    width: 100%;
    display: grid;
}

::-webkit-scrollbar {
    display: none;
}

.product-card {
    margin: 40px;
    color: rgb(196, 196, 196);
    outline: 0px solid rgba(0, 0, 0, 0.2);
    display: flex;
    scroll-snap-align: center;
    margin: 2px;
    height: 500px;
    width: 70%;
    position: relative;
    align-items: center;
    justify-content: center;
    .product-dp-ar {
        overflow: hidden;
        position: relative;
        height: 100%;
        aspect-ratio: 1;
        .product-dp {
            width: 100%;
            aspect-ratio: 1;
        }
        .product-dp-url:hover {
            background-color: rgba(0, 0, 0, 0.80);
            opacity: 1;
        }
        .product-dp-url {
            position: absolute;
            z-index: 10;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            .text {
                text-decoration: none;
                color: white;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
            .text:hover {
                color: greenyellow;
                margin-left: 10px;
                .arrow {
                    margin-left: 10px;
                }
            }
        }
    }
    .product-dp-ar:hover {
        .product-dp {
            transform: scale(1.1);
        }
    }
    .product-data {
        width: calc(100% - 40px);
        position: absolute;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
        backdrop-filter: blur(40px);
        color: rgb(0, 0, 0);
        bottom: 0px;
        height: 200px;
        .product-heading {
            font-size: 24px;
            font-weight: 700;
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .product-summary {
            font-size: 20px;
            font-weight: 400;
            color: rgb(86, 86, 86);
            font-style: italic;
        }
        .product-small-text {
            font-size: 15px;
            font-weight: 400;
            margin-top: auto;
        }
    }
}

.product-view-ar {
    display: grid;
    padding: 40px;
    .url-top {
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 200;
        color: rgb(161, 161, 161);
        padding: 0px 40px;
        width: fit-content;
    }
    .url-top:hover {
        color: rgb(107, 0, 0);
    }
    .url-top:active {
        color: red;
    }
    .product-view {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        position: relative;
        .product-view-left {
            padding: 40px;
            flex: 0.5;
            display: flex;
            flex-direction: column;
            min-width: 100px;
            background-color: white;
            .product-content {
                font-size: 20px;
                text-align: justify;
            }
            .product-view-image-slider {
                aspect-ratio: 1/1;
                outline: 1px solid rgba(0, 0, 0, 0.2);
                .product-view-image {
                    height: calc(100% - 5px);
                    width: calc(100% - 1px);
                }
            }
            .product-view-image-slider-controls {
                display: flex;
                overflow: hidden;
                overflow-x: scroll;
                height: 100px;
                gap: 20px;
                scroll-snap-type: x mandatory;
                padding: 10px 10px;
                align-items: center;
                .product-view-control-image {
                    width: 80px;
                    height: 80px;
                    scroll-snap-align: center;
                    opacity: 0.5;
                    cursor: pointer;
                }
                .product-view-control-image-active {
                    opacity: 1;
                    width: 90px;
                    height: 90px;
                    scroll-snap-align: center;
                    outline: 2px solid rgb(143, 143, 143);
                    cursor: pointer;
                }
            }
        }
        .product-view-right {
            background-color: white;
            min-width: 400px;
            display: flex;
            flex-direction: column;
            flex: 0.5;
            gap: 10px;
            padding: 40px;
            .product-heading {
                font-size: 25px;
                font-weight: 600;
            }
            .product-price {
                font-size: 30px;
                font-weight: 400;
            }
            .product-text {
                font-size: 15px;
                font-weight: 400;
            }
            .product-content {
                font-size: 15px;
                font-style: italic;
                color: gray;
                text-align: justify;
            }
            .product-color-section {
                display: grid;
                gap: 10px;
                .product-color-text {
                    font-size: 15px;
                    font-weight: 600;
                }
                .product-color-selection-ar {
                    display: flex;
                    gap: 10px;
                    .product-color {
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        border: 4px solid rgba(0, 0, 0, 0.418);
                        cursor: pointer;
                    }
                    .product-color:hover {
                        opacity: 0.5;
                    }
                }
            }
            .drop-ar {
                display: flex;
                gap: 10px;
                .drop-section {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 15px;
                    font-weight: 600;
                    align-items: start;
                    justify-content: left;
                    flex: 1;
                    width: 100%;
                    select {
                        width: 100%;
                        padding: 10px 20px;
                        border-radius: 0px;
                        font-size: 15px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        option {
                            border-radius: 0px;
                        }
                    }
                    input {
                        width: calc(100% - 40px);
                        padding: 10px 20px;
                        border-radius: 0px;
                        font-size: 15px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }
            }
            .submit-ar {
                display: flex;
                gap: 10px;
                input {
                    display: flex;
                    text-align: center;
                    padding: 0px 10px;
                }
                .button-atoc {
                    padding: 20px 20px;
                    width: 100%;
                    font-size: 20px;
                    background-color: rgb(0, 66, 166);
                    outline: 0px;
                    border: 0px;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .button-atoc:hover {
                    background-color: rgb(0, 102, 255);
                }
                .button-atoc:active {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    outline: 1px solid black;
                }
            }
        }
    }
}

.focused {
    z-index: 200;
    outline: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo-loading-ar {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-loader {
        width: 100px;
        height: 100px;
        background-image: url("./assets/images/gearsmith-logo.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1) brightness(0);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        .white {
            font-size: 200px;
        }
    }
}

.loading-ar {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        width: 100px;
        height: 100px;
        border: 5px solid rgba(0, 0, 0, 0);
        border-top: 5px solid black;
        border-radius: 100px;
        animation: loading 0.5s cubic-bezier(1, 1, 1, 1) infinite;
    }
}

.loader {
    animation: loading 0.5s cubic-bezier(1, 1, 1, 1) infinite;
}

@keyframes loading {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.form-heading {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-subheading {
    font-size: 15px;
    font-weight: 300;
}

form {
    * {
        transition-duration: 0.3s;
    }
    padding: 0px 50px;
    display: grid;
    gap: 10px;
    .product-details {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        fieldset {
            flex: 1;
            min-width: 500px;
        }
    }
    .size-select-ar {
        .selected-size-ar {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;
            .selected-size {
                padding: 5px 20px;
                background-color: black;
                color: white;
                border-radius: 50px;
            }
        }
        .select-sizes {
            display: grid;
            gap: 10px;
            .select-size {
                outline: 1px solid black;
                padding: 10px;
                cursor: pointer;
                .size {
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    input {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
    .image-upload-ar {
        display: grid;
        gap: 10px;
        .image-uploader {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            input {
                padding: 10px;
                outline: 1px solid rgba(0, 0, 0, 0.2);
            }
            .button {
                cursor: pointer;
            }
        }
        .images-selected {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            * {
                transition-duration: 0s;
            }
            .image {
                width: 100px;
                height: 100px;
                object-fit: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                font-size: 20px;
                .cross {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    cursor: pointer;
                }
                .cross:hover {
                    color: red;
                }
            }
        }
    }
    .color-select-ar {
        display: flex;
        width: 100%;
        .select-color {
            display: flex;
            padding: 20px 20px;
            outline: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            gap: 20px;
            align-items: center;
            width: 100%;
            input {
                width: 100px;
                height: 40px;
            }
            .color-name {
                width: 100%;
                padding: 0px 10px;
                font-size: 20px;
                border: 0px;
                outline: 1px solid rgba(0, 0, 0, 0.200);
            }
            .button {
                height: 100%;
                width: 100px;
                padding: 0px 20px;
                background-color: black;
                color: white;
                font-size: 15px;
                border-radius: 2px;
                border: 0px;
                outline: 0px;
                text-align: center;
                cursor: pointer;
            }
            .button:disabled {
                filter: invert(0.8);
            }
            .button:active {
                background-color: rgb(111, 111, 111);
            }
        }
    }
    .color-list-section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        font-size: 20px;
        .selected-color {
            padding: 5px 20px;
            border-radius: 50px;
            font-size: 15px;
            text-transform: capitalize;
        }
    }
    fieldset {
        display: flex;
        position: relative;
        outline: 1px solid rgba(0, 0, 0, 0.200);
        border-radius: 2px;
        border: 0px;
        padding: 10px;
        legend {
            color: rgba(0, 0, 0, 0.2);
            padding: 0px 5px;
            position: absolute;
            top: 18px;
            left: 18px;
            font-size: 20px;
            background-color: rgba(255, 255, 255, 0);
            z-index: 10;
        }
        input {
            padding: 10px;
            font-size: 20px;
            flex: 1;
            border: 0px;
            outline: 0px;
            z-index: 20;
            background-color: transparent;
        }
    }
    .focus-field {
        display: flex;
        position: relative;
        outline: 1px solid rgba(0, 0, 0, 1);
        legend {
            color: rgba(0, 0, 0, 1);
            top: -12px;
            left: 18px;
            font-size: 15px;
            padding: 0px 5px;
            background-color: rgb(255, 255, 255);
            position: absolute;
        }
        input {
            padding: 10px;
            font-size: 20px;
            flex: 1;
        }
    }
    .button {
        padding: 10px 20px;
        width: fit-content;
        background-color: black;
        color: white;
    }
}

.product-small-card {
    min-width: 240px;
    height: fit-content;
    outline: 0px solid rgba(0, 0, 0, 0.2);
    display: grid;
    scroll-snap-align: start;
    flex: 0.3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    .product-dp-ar {
        overflow: hidden;
        position: relative;
        width: 100%;
        aspect-ratio: 1.5;
        .product-dp {
            width: 100%;
            aspect-ratio: 1;
            transition-duration: 0.2s;
        }
        .product-dp-url:hover {
            background-color: rgba(0, 0, 0, 0.80);
            opacity: 1;
        }
        .product-dp-url {
            position: absolute;
            z-index: 10;
            top: 0;
            width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            .text {
                text-decoration: none;
                color: white;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                transition-duration: 0.2s;
                .arrow {
                    transition-duration: 0.2s;
                }
            }
            .text:hover {
                color: greenyellow;
                margin-left: 10px;
                .arrow {
                    margin-left: 10px;
                }
            }
        }
    }
    .product-dp-ar:hover {
        .product-dp {
            transform: scale(1.1);
        }
    }
    .product-data {
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-top: 0px solid rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg, rgb(255, 255, 255), rgb(224, 224, 224));
        gap: 5px;
        height: fit-content;
        align-items: center;
        .product-heading {
            font-size: 15px;
            font-weight: 700;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        .product-rating {
            font-size: 15px;
            text-align: center;
            color: rgb(255, 157, 11);
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .product-price {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            justify-content: space-between;
            font-style: italic;
            color: rgb(104, 104, 104);
        }
        .product-small-text {
            font-size: 15px;
            font-weight: 400;
        }
    }
    .product-bottom {
        display: flex;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(241, 241, 241);
        .view-button {
            padding: 15px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px;
            outline: 0px;
            background-color: rgba(50, 50, 50, 0);
            font-weight: 300;
            cursor: pointer;
            width: 100%;
            color: rgb(12, 82, 0);
            text-decoration: none;
        }
        .view-button:hover {
            background-color: rgb(191, 255, 217);
            color: rgb(12, 82, 0);
        }
        .view-button:active {
            background-color: rgb(0, 187, 75);
            color: rgb(255, 255, 255);
        }
        .like-button {
            padding: 15px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px;
            outline: 0px;
            background-color: rgba(50, 50, 50, 0);
            font-weight: 600;
            cursor: pointer;
            width: 100%;
            color: rgb(0, 74, 158);
            text-decoration: none;
        }
        .like-button:hover {
            background-color: rgb(191, 212, 255);
            color: rgb(0, 74, 158);
        }
        .like-button:active {
            background-color: rgb(0, 78, 187);
            color: rgb(249, 249, 249);
        }
    }
}

.product-small-card:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.shop {
    display: grid;
    gap: 80px;
    padding: 40px 80px;
    .new-arrivals-slider-controls {
        display: flex;
        gap: 20px;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
    }
    .new-arrivals {
        display: flex;
        gap: 10px;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        position: relative;
        align-items: center;
        * {
            transition-duration: 0.1s;
        }
    }
    .product-feature-ar {
        display: flex;
        gap: 20px;
        .features-ar {
            display: grid;
            padding: 20px;
            background-color: rgb(245, 245, 245);
            align-content: start;
            gap: 40px;
            min-width: 200px;
            .features {
                display: grid;
                align-content: start;
                gap: 10px;
                font-size: 15px;
                font-weight: 600;
                .feature {
                    display: flex;
                    gap: 5px;
                    font-size: 15px;
                    label {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .filters {
        padding: 10px 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        .features-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: rgb(165, 44, 0);
        }
        .features-btn:hover {
            color: orangered;
        }
        .sort-ar {
            display: flex;
            gap: 5px;
            font-size: 15px;
            align-items: center;
            font-weight: 600;
            select {
                font-size: 15px;
                color: rgb(41, 41, 41);
                padding: 5px 10px;
                background-color: rgb(239, 239, 239);
                outline: 0px;
                border: 0px;
                option {
                    background-color: rgb(255, 255, 255);
                }
            }
        }
        .checkbox {
            font-size: 15px;
            font-weight: 600;
        }
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

.middle-block {
    display: grid;
    gap: 0px;
    position: relative;
    .heading {
        font-size: 30px;
        font-weight: 700;
        text-align: left;
    }
    .sub-heading {
        font-size: 20px;
        text-align: left;
    }
    .left {
        position: absolute;
        z-index: 100;
        left: 0px;
        padding: 10px;
        bottom: -30px;
    }
    .right {
        padding: 10px;
        position: absolute;
        z-index: 100;
        right: 0px;
        bottom: -30px;
    }
}

.ctrl-button {
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0px;
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
}

.ctrl-button:hover {
    color: white;
}

.ctrl-button:active {
    color: rgb(0, 235, 0);
}

.paging {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    .ring-active {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: black;
        cursor: pointer;
    }
    .ring-inactive {
        width: 10px;
        height: 10px;
        outline: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }
}

.font-s {
    font-size: 10px;
}

.font-ss {
    font-size: 20px;
}

.font-m {
    font-size: 50px;
}

.font-l {
    font-size: 60px;
}

.font-ll {
    font-size: 80px;
}

.profile-ar {
    display: grid;
    position: relative;
    justify-items: center;
    .profile-icon {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .profile-image {
            height: 100%;
            aspect-ratio: 1;
        }
        .profile-info {
            transition-duration: 0.2s;
            height: 110%;
            width: 110%;
            aspect-ratio: 1;
            position: absolute;
            top: 105%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.7);
            color: rgb(253, 253, 253);
        }
    }
    .dropdown {
        position: absolute;
        display: none;
        top: calc(100% + 10px);
        color: white;
    }
}

.profile-icon:hover {
    .profile-info {
        top: 0;
    }
}

.profile-ar:hover {
    .dropdown {
        display: none;
    }
}

.gearsmith-logo {
    width: 50px;
    height: 50px;
    background-image: url("/src/assets/images/gearsmith-logo.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.signin-section {
    display: grid;
    align-content: center;
    justify-content: center;
    flex: 1;
    margin: auto;
    padding: 40px;
    form {
        width: 100%;
        .signin-heading {
            width: 100%;
            font-size: 30px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            color: rgb(20, 20, 20);
        }
        .form-section {
            width: fit-content;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .left-section {
                flex: 1;
                min-width: 500px;
                max-width: 500px;
                .selected-image-section {
                    display: grid;
                    width: 100%;
                    position: relative;
                    img {
                        width: 100%;
                        aspect-ratio: 1;
                    }
                    input {
                        padding: 20px;
                        outline: 1px solid rgba(0, 0, 0, 0.2);
                        width: calc(100% - 40px);
                        cursor: pointer;
                        position: absolute;
                        height: calc(100% - 40px);
                        color: white;
                        opacity: 0;
                        background-color: rgba(0, 0, 0, 0.20);
                    }
                    input:hover {
                        opacity: 1;
                    }
                }
            }
            .right-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: fit-content;
                gap: 20px;
                min-width: 500px;
                .form {
                    display: grid;
                    align-content: space-between;
                    gap: 20px;
                    min-width: 300px;
                    flex: 1;
                }
            }
        }
        hr {
            width: 100%;
        }
        gap: 20px;
        width: 100%;
        min-width: 500px;
        padding: 20px;
        border-radius: 2px;
        outline: 1px solid rgba(0,
        0,
        0,
        0.2);
        .button {
            width: calc(100%);
            padding: 15px;
            font-size: 20px;
            outline: 0px;
            border: 0px;
            background-color: rgb(0, 98, 255);
            color: white;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
        }
        .button:hover {
            background-color: blue;
        }
    }
}

.login-section {
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    form {
        .login-heading {
            font-size: 30px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            color: rgb(20, 20, 20);
        }
        hr {
            width: 100%;
        }
        display: grid;
        gap: 20px;
        max-width: 400px;
        width: 100%;
        min-width: 300px;
        padding: 20px;
        border-radius: 2px;
        outline: 1px solid rgba(0,
        0,
        0,
        0.2);
        .button {
            width: calc(100%);
            padding: 15px;
            font-size: 20px;
            outline: 0px;
            border: 0px;
            background-color: rgb(0, 98, 255);
            color: white;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
        }
        .button:hover {
            background-color: blue;
        }
    }
}

.d-none {
    text-decoration: none;
    color: white;
}

fieldset {
    background: white;
}

.profile {
    padding: 0px 50px;
    display: grid;
    gap: 40px;
    justify-items: center;
    .profile-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .info-text {
        font-size: 20px;
        font-style: italic;
    }
    .profile-button-action {
        padding: 15px 30px;
        width: 160px;
        height: 70px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        background-color: rgb(0, 0, 0);
        outline: 0px;
        border: 0px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        .text {
            width: 100%;
            position: absolute;
            right: 0%;
            transition-duration: 0.2s;
            font-size: 20px;
        }
        .icon {
            width: 100%;
            position: absolute;
            right: 100%;
            transition-duration: 0.2s;
            font-size: 30px;
        }
    }
    .profile-button-action:hover {
        background-color: rgb(0, 0, 0);
        .text {
            width: 100%;
            position: absolute;
            right: -100%;
        }
        .icon {
            width: 100%;
            position: absolute;
            right: 0%;
        }
    }
}

.footer-ar {
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 40px;
    display: grid;
    gap: 40px;
    .footer-upper {
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        .section {
            text-align: center;
            width: 240px;
            display: grid;
            gap: 10px;
            align-content: start;
            position: relative;
            .section-heading {
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .section-content {
                font-size: 15px;
            }
            .section-link {
                color: white;
                text-decoration: none;
                font-size: 15px;
            }
            .section-link:hover {
                color: rgb(120, 255, 134);
            }
            .link-white-ar {
                width: 100%;
                font-size: 40px;
                display: flex;
                justify-content: space-evenly;
                top: 100%;
                margin-top: 30px;
            }
            .link-white:hover {
                color: rgb(120, 255, 134);
            }
        }
    }
    .footer-bottom {
        padding: 0px 0px 0px 40px;
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .bottom-section-inner {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            .copy {
                font-size: 15px;
                color: gray;
                text-align: center;
            }
        }
    }
}

.home {
    display: grid;
    grid-area: 20px;
    .small-font {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
    }
    .big-font {
        font-size: 50px;
        font-weight: 700;
        text-align: left;
    }
    .ad {
        background-image: url("./assets/images/background.jpg");
        background-position: center;
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        .text {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(67, 34, 34, 0) 120%);
            width: calc(100% - 160px);
            height: calc(100% - 80px);
            padding: 40px 80px;
            color: white;
            display: grid;
            align-content: center;
            gap: 20px;
            .title {
                font-size: 60px;
                font-weight: 700;
                width: 50%;
            }
            .subtitle {
                font-size: 20px;
            }
            button {
                width: fit-content;
                padding: 15px 30px;
                font-size: 20px;
                font-weight: 700;
                color: white;
                background-color: rgb(255, 77, 0);
                outline: 0px;
                border: 0px;
                margin-top: 40px;
            }
        }
    }
    .ad2 {
        background-image: url("./assets/images/background.avif");
        background-position: center;
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        .text {
            background: linear-gradient(90deg, rgba(67, 34, 34, 0), rgba(0, 0, 0, 0.9));
            width: calc(100% - 160px);
            height: calc(100% - 80px);
            padding: 40px 80px;
            color: white;
            display: grid;
            align-content: center;
            justify-items: right;
            gap: 20px;
            .title {
                font-size: 60px;
                font-weight: 700;
                width: 50%;
                text-align: right;
            }
            .subtitle {
                font-size: 20px;
                text-align: right;
            }
            button {
                width: fit-content;
                padding: 15px 30px;
                font-size: 20px;
                font-weight: 700;
                color: white;
                background-color: rgb(255, 77, 0);
                outline: 0px;
                border: 0px;
                margin-top: 40px;
            }
        }
    }
    .product-types {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        padding: 10px 80px;
        .product {
            text-transform: uppercase;
            .product-heading {
                font-size: 30px;
                font-weight: 700;
            }
            .product-button {
                font-size: 20px;
                font-weight: 700;
                text-decoration: none;
                color: rgb(114, 114, 114);
                display: flex;
                align-items: center;
                width: fit-content;
                .arrow {
                    stroke-width: 40px;
                    color: rgb(255, 85, 0);
                    font-size: 20px;
                }
            }
            .product-button:hover {
                color: rgb(255, 85, 0);
            }
        }
    }
    .bottom {
        display: flex;
        gap: 10px;
        padding: 10px;
        flex-wrap: wrap;
        background: linear-gradient(45deg, rgb(244, 244, 244), rgb(255, 255, 255));
        .left {
            min-width: 200px;
            flex: 1;
            aspect-ratio: 1;
            background-image: url("http://3.91.203.73:1000/static/images/main-logo.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .right {
            flex: 1;
            aspect-ratio: 1;
            display: grid;
            gap: 10px;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
            padding: 20px;
            .right-title {
                font-size: 25px;
                font-weight: 500;
                text-align: center;
            }
            .right-subtitle {
                font-size: 15px;
                font-weight: 400;
                color: rgb(117, 117, 117);
                text-align: center;
            }
            .inputs {
                margin-top: 20px;
                display: flex;
                gap: 5px;
                input {
                    padding: 10px 20px;
                    border: 0px;
                    outline: 0px;
                }
                input[type="submit"] {
                    padding: 10px 20px;
                    border: 0px;
                    outline: 0px;
                    background-color: rgb(25, 90, 44);
                    color: rgb(202, 255, 223);
                }
            }
        }
    }
    .middle {
        background-color: white;
        display: grid;
        align-items: center;
        gap: 80px;
        background-color: black;
        color: white;
        justify-items: center;
        padding: 100px 40px;
        background-image: url("http://3.91.203.73:1000/static/images/bg-layer.webp");
        .big-font {
            font-size: 50px;
            font-weight: 700;
            text-align: center;
        }
        .middle-flex {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            .middle-flex-box {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: rgb(25, 90, 44);
                padding: 40px 80px;
                flex: 1;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .text {
                    font-size: 20px;
                    transition-duration: 0.2s;
                    text-align: center;
                }
                .icon {
                    font-size: 100px;
                    transition-duration: 0.2s;
                }
            }
            .middle-flex-box:hover {
                .text {
                    color: rgb(125, 255, 164);
                }
                .icon {
                    color: rgb(125, 255, 164);
                }
            }
        }
        .middle-button {
            width: fit-content;
            padding: 15px 40px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            .text {
                font-size: 20px;
                transition-duration: 0.2s;
                font-weight: 400;
            }
            .icon {
                font-size: 20px;
                transition-duration: 0.2s;
            }
        }
        .middle-button:hover {
            outline: 2px solid white;
            background-color: black;
            color: white;
        }
    }
    .section {
        display: flex;
        grid-area: 20px;
        flex: 1;
        flex-wrap: wrap;
        gap: 80px;
        background-color: white;
        padding: 40px 80px;
        .section-left {
            flex: 1;
            min-width: 200px;
            display: grid;
            gap: 10px;
            align-content: center;
            .section-left-upper {
                display: grid;
                gap: 5px;
            }
        }
        .section-right {
            flex: 1;
            min-width: 200px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 10px;
            .arrow {
                font-size: 30px;
                cursor: pointer;
            }
            .arrow:hover {
                color: rgb(80, 80, 80);
            }
            .slider-ar {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                .slider-image {
                    width: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: top;
                    min-width: 100px;
                }
            }
        }
    }
}

.advantage {
    display: grid;
    padding: 0px 40px;
    gap: 60px;
    .scrolling-text {
        background-image: url("http://3.91.203.73:1000/static/images/bg-layer.webp");
        padding: 40px;
        color: white;
        display: grid;
        gap: 40px;
        .st-head {
            font-size: 40px;
            font-weight: 600;
        }
        .st-content {
            font-size: 20px;
            display: grid;
            font-weight: 300;
            .st-content-b {
                font-weight: 400;
            }
        }
    }
    .ways-ar {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        flex: 1;
        scroll-behavior: smooth;
        .way {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            background-color: white;
            .left {
                flex: 0.5;
                aspect-ratio: 1;
                padding: 20px;
                display: flex;
                gap: 10px;
                min-width: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .right {
                .main-heading {
                    font-size: 40px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                .main-list {
                    font-size: 20px;
                    display: grid;
                    flex-direction: column;
                    gap: 10px;
                    font-weight: 400;
                    justify-content: center;
                    margin-left: 40px;
                }
                padding: 20px;
                flex: 1;
                display: grid;
                flex-direction: column;
                gap: 10px;
                align-content: center;
                justify-content: center;
                min-width: 200px;
            }
        }
    }
}

.about {
    padding: 0px 40px;
    display: grid;
    gap: 0px;
    * {
        margin: 0px;
    }
    .main-heading {
        font-size: 40px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    .inner-heading {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .content {
        font-size: 20px;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        transition-duration: 0.2s;
        background: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 255, 255));
        .image {
            flex: 0.7;
            background-position: 0px 10px;
            aspect-ratio: 1;
            background-size: cover;
            min-width: 200px;
        }
        .text {
            flex: 1;
            padding: 40px;
            min-width: 200px;
            transition-duration: 0.2s;
        }
    }
}

.review {}

.cart {
    height: fit-content;
    padding: 0px 40px;
    display: grid;
    gap: 20px;
    align-content: start;
    .cart-products {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .cart-product {
        zoom: 1;
        background-color: white;
        display: flex;
        gap: 20px;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 20px;
        justify-content: center;
        height: 140px;
        width: fit-content;
        .cart-product-image {
            height: 100%;
            aspect-ratio: 1;
        }
        .info-ar {
            gap: 10px;
            width: 100%;
            display: grid;
            align-content: space-between;
        }
        .controls {
            display: flex;
            gap: 20px;
            align-content: space-between;
            height: 100%;
            aspect-ratio: 1;
            .control {
                padding: 15px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: black;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                border: 0px;
                outline: 0px;
                flex: 1;
                font-size: 20px;
            }
            .control:nth-child(1):hover {
                background-color: rgb(128, 0, 0);
            }
            .control:nth-child(2):hover {
                background-color: green;
            }
        }
    }
}

@media (max-width: "700px") {
    .cart {
        .cart-product {
            zoom: 0.5;
        }
    }
    .footer-ar {
        .footer-bottom {
            zoom: 40%;
        }
    }
    .advantage {
        display: grid;
        padding: 0px 40px;
        gap: 60px;
        .scrolling-text {
            background-image: url("http://3.91.203.73:1000/static/images/bg-layer.webp");
            padding: 40px;
            color: white;
            display: grid;
            gap: 40px;
            .st-head {
                font-size: 40px;
                font-weight: 600;
            }
            .st-content {
                font-size: 20px;
                display: grid;
                font-weight: 300;
                .st-content-b {
                    font-weight: 400;
                }
            }
        }
        .ways-ar {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            flex: 1;
            scroll-behavior: smooth;
            .way {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                width: 100%;
                background-color: white;
                .left {
                    flex: 1;
                    aspect-ratio: 1;
                    padding: 20px;
                    display: flex;
                    gap: 10px;
                    min-width: 200px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .right {
                    .main-heading {
                        font-size: 40px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    .main-list {
                        font-size: 20px;
                        display: grid;
                        flex-direction: column;
                        gap: 10px;
                        font-weight: 400;
                        justify-content: center;
                        margin-left: 40px;
                    }
                    padding: 20px;
                    flex: 1;
                    display: grid;
                    flex-direction: column;
                    gap: 10px;
                    align-content: center;
                    justify-content: center;
                    min-width: 200px;
                }
            }
        }
    }
}